@model ReferensApp.Models.ViewModels.DatePickerViewModel

<div class="jumbotron">
    <h1>
        ReferensMW

    </h1>
</div>


@foreach (var day in Model.Days)
{

    <div class="row">
        <div class="col">

            <p>@day.ToString("MMMM dd")</p>
            @foreach (var item in Model.Hours.Where(dt => dt.Day == day.Day).ToList())
            {

                if (Model.ReservedTimes.Any(r => r.Date == item))
                {
                    var selectedBooking = Model.ReservedTimes.Where(r => r.Date == item).FirstOrDefault();
                    if (selectedBooking.IsBooked)
                    {
                        <a href="#" data-hour="@item.Hour" data-month="@day.Month" data-day="@day.Day" data-target="#cancelBookingModal" data-bookedby="@selectedBooking.BookedBy" data-bookingid="@selectedBooking.MeetingId" class="btn btn-sm btn-danger hour">@item.Hour:00</a>
                    }
                    else
                    {
                        <a href="#" data-hour="@item.Hour" data-month="@day.Month" data-day="@day.Day" data-target="#basicModal" data-bookedby="@selectedBooking.BookedBy" data-bookingid="@selectedBooking.MeetingId" class="btn btn-sm btn-success hour">@item.Hour:00</a>
                    }
                }
                else
                {
                    <a href="#" data-hour="@item.Hour" data-month="@day.Month" data-day="@day.Day" data-target="#basicModal" class="btn btn-sm btn-info disabled">@item.Hour:00</a>
                }
            }
        </div>
    </div>
    <hr />
}

@using (Html.BeginForm())
{
    <div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">ReferensMW</h4>
                </div>
                <div class="modal-body h3">
                    <div class="bookedTime">
                        <h3 id="pickedHour">Du har valt följande tid: </h3>
                    </div>

                    <input type="hidden" id="monthPicked" name="month" />
                    <input type="hidden" id="dayPicked" name="day" />
                    <input type="hidden" id="hourPicked" name="hour" />

                    <div>
                        <p>Skriv in namn här:</p>
                        <input type="text" name="user" />
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-success" value="Boka" />
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Avbryt</button>
                </div>
            </div>
        </div>
    </div>

}

@using (Html.BeginForm("Delete", "Home", FormMethod.Post))
{
    <div class="modal fade" id="cancelBookingModal" tabindex="-1" role="dialog" aria-labelledby="cancelBookingModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">ReferensMW</h4>
                </div>
                <div class="modal-body h3">
                    <div class="bookedBy">
                        <h3 id="pickedHour">Tiden är bokad av: </h3>
                    </div>
                    <input type="hidden" id="bookingId" name="bookingId" />
                </div>
                @if (User.IsInRole("Admin"))
                {
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-danger" value="Avboka" />
                    </div>
                }
            </div>
        </div>
    </div>
}

@section scripts{
    @Scripts.Render("~/Scripts/index.js")
}